################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Backend/UITVibes-Microservices.AppHost/appsettings.json
